<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Tasks</p>
        <div id="msgH"></div>
        <ul>
          <%= link_to 'Create course', new_course_path, id: "course_link", remote: true %></br>
          <%= link_to 'Create Semester', new_semester_path, id: "semester_link", remote: true %></br>
          <%= link_to 'Offer Course', new_course_offer_path, id: "offer_link", remote: true %></br>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Course Offered by Semester</p>
        <table class="table table-hover" id="course-offer">
          <tr>
            <th>Semester</th>
            <th>Course Name</th>
            <th>Course Code</th>
          <% @courseoffer.each do |store| %>
              <tr class="update-course" id="<%= store.id %>">
                <td><%= store.semester.name %></td>
                <td><%= store.course.name %></td>
                <td><%= store.course.course_no %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <p class='pull-right'>
      <a href='#' id='show-form' class='btn btn-primary'>Publish Result</a>
    </p>
  </div>
</div>
<div class='row' id="result-form">
  <div class='col-sm-12'>
    <p>
    <form>
      <legend>Search</legend>
      <div class='col-xs-4'>
        <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
      </div>
    </form>
    </br></br>
    </p>
    <table class="table table-hover">
      <tr>
        <th>User</th>
        <th>Semester</th>
        <th>Course</th>
        <th>GPA</th>
      </tr>
      <% @stores.each do |store| %>
          <tr class="update-cgpa" id="<%= store.id %>">
            <td><%= store.user.email %></td>
            <td><%= store.semester.name %></td>
            <td><%= store.course.name %></td>
            <td><%= store.cgpa %></td>
          </tr>
      <% end %>
    </table>
    </br></br>
  </div>
</div>