<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Profile</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Published Result Stats</p>
        <table class="table table-hover">
          <tr>
            <th>Course_id</th>
            <th>CGPA</th>
          </tr>
          <% @passedCourse.each do |store| %>
              <tr class="update-cgpa" id="<%= store.id %>">
                <td><%= store.course.name %></td>
                <td><%= store.cgpa %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Feeds</p>
        <ul>
        <li><%= link_to 'Registar Courses', new_store_path %></li>
            </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Registared Courses</p>
        <table class="table table-hover">
          <tr>
            <th>Semester_id</th>
            <th>Course_id</th>
          </tr>
          <% @stores.each do |store| %>
              <tr class="update-cgpa" id="<%= store.id %>">
                <td><%= store.semester.name %></td>
                <td><%= store.course.name %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>