<div class="row">
  <div class="col-xs-4 col-xs-offset-4">

    <p id="notice"><%= notice %></p>
    <table class="table table-user-information">
    <tbody>
      <tr>
      <td><strong>Address Line 1</strong></td>
      <td><%= @userdetail.line1 %></td>
    </tr>
    <tr>
      <td><strong>Address Line 2</strong></td>
      <td><%= @userdetail.line2 %></td>
    </tr>
    <tr>
      <td><strong>City </strong></td>
      <td><%= @userdetail.city %></td>
    </tr>
    <tr>
      <td><strong>State </strong></td>
      <td><%= @userdetail.state %></td>
    </tr>

    <tr>
      <td><strong>Zip </strong></td>
      <td><%= @userdetail.zip %></td>
    </tr>

    <tr>
      <td><strong>Country</strong></td>
      <td><%= @userdetail.country %></td>
    </tr>

<tr>
  <td><strong>Contact no</strong></td>
  <td><%= @userdetail.contact_no %></td>
</tr>
</tbody>
    </table>
<%= link_to 'Edit', edit_user_userdetail_path(@user, @userdetail), class: 'btn btn-primary' %>

</div>
</div>