<%= form_for(@course) do  |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :course_no %><br>
    <%= f.text_field :course_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
