<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>CourseEnrollment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/nav' %>

<div class="top-space">
<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>

  <%= yield %>
</div>
</div>

</body>

</html>
